/* esri modules css */
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

.esri-view .esri-view-surface:focus::after {
  outline: none !important;
}

.esri-ui-corner {
  flex-direction: column;
}

.esri-ui-bottom-right .esri-component {
  margin-top: 10px;
}

.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
  position: sticky;
}

.esri-ui-manual-container > .esri-component {
  display: none;
}

.esri-widget--button {
  border-radius: 8px;
}

.esri-ui-corner .esri-component {
  border-radius: 8px;
}

.esri-basemap-toggle__container {
  border-radius: 8px;
}
